# frontend
frontend/node_modules/
frontend/dist/

# backend
backend/bin/
backend/storage/uploads/*
!backend/storage/uploads/.gitkeep

# general
.env
.DS_Store

# testfiles
testfiles/*

# dev notes
dev-notes/